<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="DashboardTest">
        <classes>
            <class name="tests.DashboardTest"/>
        </classes>
    </test>
    <test name="ProfileTest">
        <classes>
            <class name="tests.ProfileTest"/>
        </classes>
    </test>
</suite>
